@import "tailwindcss";

:root {
    --background: #faf5f0;
    --foreground: #223614;
    --foreground-2: #c2bfcb; /*used in contact only*/
    --primary: #223614;
    --secondary: #e6e0da;
    --surface-1: #c3c0cc;
    --surface-2: #7e7b46;
  }

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #faf5f0;
    --foreground: #223614;
    --primary: #223614;
    --secondary: #e6e0da;
    --surface-1: #c3c0cc;
    --surface-2: #7e7b46;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Candara;
}
